# Home Credit Default Risk Competition

In [2]:
import pandas as pd

import gc
import re
import joblib

## Load Data

In [3]:
#Test Dataset
X_test = pd.read_csv('/kaggle/input/home-loan/test_output_final_model.csv')
print(X_test.shape)
X_test.head()

(48744, 505)

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,PRODUCT_COMBINATION_POS_industry_with_interest_MEAN,PRODUCT_COMBINATION_POS_industry_without_interest_MEAN,PRODUCT_COMBINATION_POS_mobile_with_interest_MEAN,PRODUCT_COMBINATION_POS_mobile_without_interest_MEAN,PRODUCT_COMBINATION_POS_other_with_interest_MEAN,PRODUCT_COMBINATION_POS_others_without_interest_MEAN,DTI_MEAN,DTI_MIN,DTI_MAX,DTI_SUM
0,0,135000.0,568800.0,20560.5,450000.0,0.01884,-19241,-2329,-5168.0,-812,...,0.0,0.0,1.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0,99000.0,222768.0,17370.0,180000.0,0.03580,-18064,-4469,-9120.0,-1623,...,0.0,0.0,0.50,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0,202500.0,663264.0,69777.0,630000.0,0.01910,-20038,-4458,-2176.0,-3503,...,0.0,0.0,0.25,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2,315000.0,1575000.0,49018.5,1575000.0,0.02640,-13976,-1866,-2000.0,-4208,...,0.0,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1,180000.0,625500.0,32067.0,625500.0,0.01003,-13040,-2191,-4000.0,-4262,...,0.0,0.0,0.50,0.0,0.0,0.0,NaN,NaN,NaN,NaN

## Preprocessing/ Feature Engineering

In [4]:
print(len(X_test))
X_test.head()

48744

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,PRODUCT_COMBINATION_POS_industry_with_interest_MEAN,PRODUCT_COMBINATION_POS_industry_without_interest_MEAN,PRODUCT_COMBINATION_POS_mobile_with_interest_MEAN,PRODUCT_COMBINATION_POS_mobile_without_interest_MEAN,PRODUCT_COMBINATION_POS_other_with_interest_MEAN,PRODUCT_COMBINATION_POS_others_without_interest_MEAN,DTI_MEAN,DTI_MIN,DTI_MAX,DTI_SUM
0,0,135000.0,568800.0,20560.5,450000.0,0.01884,-19241,-2329,-5168.0,-812,...,0.0,0.0,1.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0,99000.0,222768.0,17370.0,180000.0,0.03580,-18064,-4469,-9120.0,-1623,...,0.0,0.0,0.50,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0,202500.0,663264.0,69777.0,630000.0,0.01910,-20038,-4458,-2176.0,-3503,...,0.0,0.0,0.25,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2,315000.0,1575000.0,49018.5,1575000.0,0.02640,-13976,-1866,-2000.0,-4208,...,0.0,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1,180000.0,625500.0,32067.0,625500.0,0.01003,-13040,-2191,-4000.0,-4262,...,0.0,0.0,0.50,0.0,0.0,0.0,NaN,NaN,NaN,NaN

## Load Model

In [5]:
model = joblib.load('/kaggle/input/home-loan/hcd_model_week_8.joblib')
print(type(model))

<class 'lightgbm.sklearn.LGBMClassifier'>

## Test Predictions

In [6]:
test_pred = model.predict_proba(X_test)
print(test_pred.shape)

(48744, 2)

In [7]:
submission = pd.read_csv('../input/home-credit-default-risk/sample_submission.csv')
submission.head()

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5
3      100028     0.5
4      100038     0.5

In [8]:
submission.TARGET = [item[1] for item in test_pred]
submission.head()

   SK_ID_CURR    TARGET
0      100001  0.012539
1      100005  0.083988
2      100013  0.012525
3      100028  0.029952
4      100038  0.077930

In [9]:
submission.to_csv('submission.csv', index=False, header=True)